name: Run tests

on: [ push, pull_request ]

jobs:
  test:
    strategy:
      matrix:
        version: [ '1.15', '1.16', '1.17' ]
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v -race ./...
